@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100dvh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 84 67% 86%;
    --primary-foreground: 0 0% 98%;

    --secondary: 63 78% 79%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 63 78% 79%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 63 78% 79%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 120 31% 72%;
    --primary-foreground: 0 0% 100%;

    --secondary: 163 50% 16%;
    --secondary-foreground: 0 0% 85%;

    --muted: 163 50% 16%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 163 50% 16%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 163 50% 16%;
    --input: 163 50% 16%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}